@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)

	header
		background-size: cover
		
	.header__overlay
		padding-bottom: 30px 
		
	.header__top
		.header__top-bg
			padding-top: 20px 
			
		h4
			margin-top: 1.2em 
			margin-bottom: 1.2em 
			
		.btn
			margin-top: 10px 
			margin-bottom: 10px 
	

		
	.header__content
		
		h2
			margin-top: 5em 
			
		svg
			display: none
			
	
	input[type="submit"]
		margin-top: 20px 


	.advantages
		padding-top: 50px 
		
	.advantages__item
		&:nth-child(4)
			h3
				span
					letter-spacing: -1px
					white-space: nowrap

	#scroller
		opacity: .8
		
	.garanty
		.garanty__img
			img
				margin: 0 auto

		.garanty__content
			h3
				text-align: center


	.results
		font-size: .9em 
		
	.results__gallery
		.gallery_text
			width: 50%
			height: 50%
			padding: 15px 16px
			
		.gallery_item-families
		 	.gallery_text
		 		padding: 11px 35px


	.payForResult
		padding-top: 30px 
		h3
			padding-top: 30px


	.trustSales
		.input-wrap //because of positioning of custom placeholder
			margin-top: 20px
		
		input[type="submit"]
			margin-top: 0



	.comments
		.owl-carousel
			.owl-dots
				display: none



	.steps
		.step-1, .step-3, .step-5, .step-7
			margin-left: 0 
			.step-text
				&::before
					right: -92px
		.step-2, .step-4, .step-6
			.step-text
				&::before
					left: -104px


	.footer__mail
		max-width: 75%
		margin: 50px auto 0

	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	
	header
		background-position: 43% 0%


	.header__content
		h1
			font-size: 2.5em 
			padding-top: .8em 
			padding-left: 1.2em
			letter-spacing: normal
			
		h2
			padding-left: 1.2em 
			font-size: 1.8em
			line-height: 1.4 
			
		p
			font-size: 1.3em 

	.header__mail, .trustSales__mail
		max-width: 75%
		margin: 0 auto 

		input[type="text"]
			margin-bottom: 10px 



	.advantages__item
		padding-top: 20px 
		text-align: center
		
		h3
			padding: 10px 0
			&::after
				left: 50%
				transform: translateX(-50%)
			
		&:nth-child(4)
			h3
				span
					letter-spacing: 0
					white-space: normal


	.consultation
		background-position: 50% 5% 
		background-size: cover 



	.results__gallery-rightbar
		margin-top: 30px 
		
	.results__gallery
		.gallery_text
			width: 40%
			height: 50%
			padding: 15px 16px
		.gallery_item-families
		 	.gallery_text
		 		padding: 10px 36px


	.trustSales
		h2
			margin-bottom: 20px
			font-size: 2em
			line-height: 1.4  

		.submit-wrap
			margin-top: 15px 



	.comments
		.owl-carousel
			.slide
				padding: 0 0px 
	


	.steps
		.step-1, .step-3, .step-5, .step-7
			margin-left: 0 
			.step-text
				&::before
					right: -72px
		.step-2, .step-4, .step-6
			.step-text
				&::before
					left: -84px



	.valuation
		.valuation-border
			border: none
			padding-bottom: 30px
		 
		.valuation-heading
			p
				font-size: 1.8em
				padding-left: 6% 

		.counter-wrap
			position: static
			margin-bottom: 20px 
			
			p
				padding-left: 15%
			
		.valuation__mail
			max-width: 75%
			margin: 0 auto
			border: none









	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

	.header__content	
		h1
			font-size: 2.1rem
			padding-top: .9em 
			padding-left: 1.5em
			
			
		h2
			margin-top: 2rem
			font-size: 1.4em
			background: linear-gradient(to right, rgb(1,137,255) 15%, rgba(1,137,255,.3))
			&::after
				bottom: -59px 
			
		p
			font-size: 1rem 
			line-height: 1.3 
			text-align: center


	.garanty
		.garanty__content
			text-align: center
			
	.consultation
		background-size: cover 
		
		p
			text-align: center
			
		.consult__head
			background-color: rgba(255,255,255,.9)
			padding: 10px 



	.results__gallery
		.gallery_text
			width: 55%
			height: 50%
			padding: 15px 16px
		.gallery_item-families
		 	.gallery_text
		 		padding: 10px 36px

	
	.payForResult
		h2
			font-size: 1.7em 
		h3
			padding-top: 30px
			font-size: 1.4em  
			

	.trustSales
		h2
			margin-bottom: 40px 
			font-size: 1.7em
			line-height: 1.4  
			


	.steps
		.step
			margin-top: 50px 
			.step-text
				padding: 0
				&::before
					width: 35px
					right: -58px
					
		.step-1, .step-3, .step-5, .step-7
			margin-left: 0 
				
		.step-2, .step-4, .step-6
			margin-left: 0 
			.step-text
				&::before
					left: auto
					padding: 0
		.middle-line
			width: 3px
			&::after
				top: 53% 


	.valuation
		.valuation-heading
			p
				font-size: 1.6em
				padding-left: 1% 
				// text-align: center




	/**/




@media only screen and (max-width : 576px)
	header
		background-position: 68% 0%
		
	.results__gallery
		font-size: 1.25em 
		
		.gallery_item
			margin: 0 auto
			max-width: 80%
		
			.gallery_text
				width: 37%
				height: 57%	 
				font-size: .8em
				padding: 25px
				
		.gallery_item-families
			height: 250px
			background-size: 125% 130%
			
			.gallery_text
				font-size: .8em
				padding: 5px 25px
				
		.gallery_item-specialists
			background-size: 100% 

	
	.trustSales__mail

		input[type="submit"]
			height: 60px 

		.submit-placeholder
			padding: 0
			line-height: 60px



	.valuation
		.valuation-heading
			padding: 20px
			p
				text-align: center
				
		.counter-wrap
			margin-bottom: 40px 
			p
				padding: 0
				text-align: center
				
		div[id*="timer"]
			min-width: 1px !important
			
			span[id*="number"], span[class*="timer-flipchart"]
				font-size: 35px !important 

			span[id*="secundes"]
				// display: none !important




/**/










/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

	.header__content	
		h1
			font-size: 1.9rem
			text-align: center
			
		h2
			font-size: 1.3rem
			text-align: left
			padding-left: 15% 
			background: linear-gradient(to right, rgb(1,137,255) 22%, rgba(1,137,255,.3))
		
	.header__mail, .trustSales__mail
		max-width: 100%


	.advantages
		h2
			font-size: 2rem


	.consultation
		p.consult__head
			font-size: 1.4rem 
		.form__consult-head
			p
				font-size: 1.2rem 


	.results__gallery
		font-size: 1.2em 
		
		.gallery_item
			max-width: 100%
		
			.gallery_text
				width: 45%
				height: 55%	 
				padding: 20px 26px
				// font-size: .8em
				// padding: 25px
				
		.gallery_item-families
			background-size: 125% 130%
			
			.gallery_text
				font-size: .8em
				padding: 5px 25px



	.payForResult
		h3
			text-align: left
			padding-left: 12% 
			


	.trustSales
		h2
			font-size: 1.5em
			line-height: 1.3
			text-align: left
			padding-left: 12% 
			
		.trustSales__mail
			input[type="submit"]
				font-size: .95em 




	.steps
		font-size: .9em 
		
		h2
			font-size: 1.9em 
			line-height: 1.5 
			
		.step
			margin-top: 50px 
			.step-text
				text-align: center
				&::before
					width: 30px
					right: -46px
					padding-right: 5px 
			.step-img
				left: 50%
				transform: translateX(-50%)
		.middle-line
			&::after
				top: 52% 

		
	.valuation
		// background-attachment: scroll 
		background-size: cover

		.valuation-border
			padding-bottom: 0 
		.valuation-heading
			p
				font-size: 1.5em 

		.valuation__mail
			max-width: 100%


	footer
		h2
			font-size: 2.1em 
	.footer__mail
		max-width: 100% 
	.footer__mail-head
		text-align: center


/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	
	.header__content
		h1
			font-size: 1.7rem
			padding-top: .8em 
			padding-left: .7em
			
	.advantages
		h3
			font-size: 1.5rem 
			


	.results__gallery
		font-size: 1em 
		.gallery_item

			.gallery_text
				width: 47%
				height: 47%	 
				padding: 20px 15px



	.steps	
		.step
			.step-text
				&::before
					right: -36px
			.middle-line
				&::after
					top: 51% 


	/**/





















/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

