@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
	min-height: 100% 

html, body
	font-size: 16px
	
body
	min-width: 320px
	position: relative
	font-family: $default__font-text
	line-height: 1.65
	color: #000 
	overflow-x: hidden
	opacity: 1

section
	padding-top: 50px
	padding-bottom: 50px  


.img-responsive
	display: block
	max-width: 100%
	height: auto

.btn
	display: inline-block
	padding: 10px 25px
	font-size: 1em 
	font-family: $default__font-text
	color: #FFF
	background-color: rgba(90,91,96,.8)
	border: 2px solid rgba(1,137,255,.8)
	cursor: pointer
	&:hover
		transform: scale(1.01)
	&:active
		transform: scale(.98)



.center
	text-align: center
.bold
	font-weight: bold
	
a[href^="tel"]
		font: bold 1.375em $default__font-text
		line-height: 1.4  
		&:hover
		color: inherit 
		
svg
	width: 100%
	height: 100%
	

h1, h2, h3, h4, h5, h6
	font-family: $default__font-heading 	
	
h1
	font-size: 2.9rem
	
h2
	font-size: 2.2rem
	text-align: center

h3
	font-size: 1.7rem 

h4
	font-size: 1.4rem 



form

	input
		width: 100%
		padding: 10px 15px 
		font-family: $default__font-heading
		border: 1px solid $accent
		border-radius: 4px;

		outline: none
		
		+ span
			font-size: .75em
			color: rgba(0,0,0,.8)
		
	input[type="submit"]
		padding: 11px 30px
		font: 1.125em $default__font-text
		color: rgba(255,255,255,.9)
		background: $accent
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7868D',endColorstr='#B31521',GradientType=0)
		border: 1px solid #2196F3
		border-radius: 3px
		cursor: pointer
		transition: transform .3s
		
		&:hover
			transform: scale(1.02)
		&:active
			transform: scale(.98)



// ======================================================================
// STYLES 
// ======================================================================


// ===================================
// HEADER BEGIN
// ===================================
header
	background: #FFF url(../img/business-01.jpg) no-repeat
	background-position: 35% 0 
	background-size: 150%
	background-attachment: fixed
	// height: 100% 


.section__overlay
	background-color: rgba(0,0,0,.1)
	background-origin: padding-box
	background-clip: padding-box
		
.header__top
	.header__top-bg
		padding: 0 25px 10px
		background-color: #8a8b90
		background: linear-gradient(to bottom, rgb(138,139,144), rgba(138,139,144,.1))
		
	h4
		margin-top: 1.6em 
		color: #fff
		
	a[href^="tel"]
		color: #fff
		
.header__content
	position: relative
		
	h1
		padding: .4em 1.1em
		background-color: rgba(255,255,255,.9)
		font-family: $default__font-heading
		font-weight: bold
		line-height: 1.4
		letter-spacing: 1px
		
	h2
		position: relative
		margin-top: 12em 
		margin-bottom: 0
		padding: .68em 
		padding-right: .3em
		font-family: $default__font-heading 
		line-height: 1.4 
		color: #FFF
		text-align: left
		background: linear-gradient(to right, rgb(1,137,255) 9%, rgba(1,137,255,.3))
		&::after
			content: ""
			position: absolute
			z-index: 2 
			left: 0
			bottom: -60px
			display: inline-block
			width: 0
			height: 0
			border-top: 60px solid rgb(1,137,255)
			border-right: 100px solid transparent
	
	p
		margin: 30px 0 40px
		padding: .8em 2.5em;
		color: #FFF
		background: linear-gradient(to right, rgba(1,137,255,.9), rgba(1,137,255,.3))
		text-transform: uppercase
		font: 1.375em $default__font-text

.header__mail
	padding-top: 10px
	padding-bottom: 25px  

	input[type="text"], input[type="tel"]
		// height: 50px
		padding-left: 1em  
		background-color: rgba(255, 255, 255, 1)
		border: 1px solid rgba(227, 227, 227, .5)

		color: rgb(145, 145, 145)

		+ span
			font-size: .75em
			color: #fff
		

.svg_wrap
	max-height: 125px
	overflow: hidden 
// ===================================
// HEADER END
// ===================================


// Scroll button start
#scroller
	display: inline-block
	position: fixed
	right: 4%
	bottom: 90px
	width: 50px
	height: 50px
	box-shadow: 1px 1px 10px rgba(1,137,255,.5)
	border-radius: 10px
	font-size: .8125em
	background-color: rgba(1,137,255,.8)
	background-image: url(../img/arrow_up.png)
	background-repeat: no-repeat
	background-size: 60%
	background-position: 50%
	color: #555
	cursor: pointer
	opacity: .9
	z-index: 999
	transition: transform 1s .1s
	
	&:hover
		transform: scale(1.05)
// Scroll button end

// ===================================
// 	ADVANTAGES START
// ===================================
.advantages

	.advantages__content
		padding-top: 30px 
		
	h3
		padding: 20px 10% 15px 0
		position: relative
		// font: 1.7em $default__font-heading
		line-height: 1.3
		&::after
			content: ""
			position: absolute
			left: 0
			bottom: -15px
			display: inline-block
			width: 31px
			height: 15px
			background: url(../img/lines_accent.png) 
	
	p
		margin-top: 30px 
		font: 1.125em $default__font-text


	.svg_container
		display: inline-block
		height: 64px
		width: 64px
		
		img, png
			display: block
			height: 100%
			width: 100%
	
	.advantages__item
		margin-bottom: 20px
		
		&:last-child
			h3
				letter-spacing: 1px 
// ===================================
// 	ADVANTAGES END
// ===================================


// ===================================
// 	GARANTY START
// ===================================
.garanty

	background-color: rgb(220,229,236)
	
	.garanty__content
		h3
			// font: 2.2em $default__font-heading
			margin-top: 50px 
			margin-bottom: 25px 
			
		h4, p
			// font-family: "MarmeladRegular", sans-serif
			line-height: 1.4  
// ===================================
// 	GARANTY END
// ===================================


// ===================================
// 	CONSULTATION START
// ===================================
.consultation
	background: url(../img/consult.jpg) no-repeat
	background-position: 75% 5%
	background-size: 120%
	// background-attachment: fixed 
	color: rgba(0,0,0,.6)
	padding-top: 0
	padding-bottom: 0
	
	.section__overlay
		padding-top: 50px
		padding-bottom: 50px  
	
	p
		font-family:  $default__font-heading
		span
			color: rgba(0,0,0,.8) 
				
	.consult__head
		font-size: 1.6rem
		line-height: 1.2
	
.consult__mail
	margin-top: 25px 
	padding: 5px
	background: rgba(255,255,255,.9)
	border-radius: 5px
	
	.consult__mail-wrap
		padding: 20px 25px 10px
		border: 1px solid $accent
		border-radius: 5px
	
	.consult__mail-head
		line-height: 1.2
		p
			font-size: 1.2rem

		span
			font-size: 1.4rem

	input
		display: block
		width: 100%
		margin-top: 10px 
		
		+ span
			font-size: .75em
			color: rgba(0,0,0,.8)
			
	input[type="submit"]
		+ span
			display: block
			margin-top: 10px
			font-size: .8em
			line-height: 1.4
			text-align: center
// ===================================
// 	CONSULTATION END
// ===================================

// ===================================
// 	RESULTS START
// ===================================
.results
	padding-top: 50px
	padding-bottom: 50px  
	text-align: center
	
	h3
		margin-top: 20px
		margin-bottom: 0 

.results__gallery
	margin-top: 30px

	.gallery_item
		height: 250px
		width: auto
		position: relative
		background-color: #FFF
		background-repeat: no-repeat
		background-size: cover
		 
		&:not(.gallery_item-families)
			margin-bottom: 30px 

	.gallery_item-families
		height: 530px
		width: auto
		background-image: url(../img/results-families-new2.jpg) 
		
		.gallery_text
			padding: 11px 20px 
			font-size: 1.8em 
			
	.gallery_item-experience
		background-image: url(../img/results-exp-new.jpg)
	.gallery_item-countries
		background-image: url(../img/results-countries-new.jpg)
	.gallery_item-cities
		background-image: url(../img/results-cities-new.jpg)
	.gallery_item-specialists
		background-image: url(../img/results-spec-new.jpg)
		background-size: 130% 100%
			
	.gallery_text
		position: absolute
		width: 50%
		height: 50%
		top: 50%
		left: 50%
		padding: 5px 9px 
		border-radius: 50%
		transform: translate(-50%, -50%)
		font-family: $default__font-text 
		font-size: 1em 
		line-height: 1.2
		color: #FFF
		z-index: 2
		background: linear-gradient(to right, rgba(1,137,255,.7), rgba(1,137,255,.4))
		background-position: 133% 

	
.stylized_number
	font-family: 'Bighaustitul extrabold'
	font-size: 2em 
// ===================================
// 	RESULTS END
// ===================================

// ===================================
// PAY FOR RESULT START
// =================================== 
.payForResult
	// background-color: rgba(1,137,255,.2) 
	background-color: rgba(1,137,255,.1)
	// background-color: #dce5ec
	// background: linear-gradient(to right, rgba(1,137,255,.7), rgba(1,137,255,.2))

	h2
		margin-bottom: 50px 
	h3
		text-align: center

.payForResult__item

	.svg_wrap
		height: 96px
		width: 100% 
		
	p
		position: relative
		margin-top: 30px
		padding: 15px  
		text-align: center
		font-weight: bold

		&::before
			content: ''
			width: 50%
			height: 2px
			background-color: #000 
			display: inline-block
			position: absolute
			left: 50%
			top: 0
			transform: translateX(-50%) 
			

// ===================================
// 	TRUST_SALES START
// ===================================
.trustSales

.trustSales__mail
	margin-top: 30px 

	.submit-wrap
		position: relative
		
	input[type="submit"]
		position: relative
		padding: 11px 0
		
	// .submit-placeholder
	// 	width: 100%
	// 	position: absolute
	// 	top: 0
	// 	padding: 11px 5px
	// 	font: 1.125em $default__font-text
	// 	color: #FFF
	// 	text-align: center
	// 	line-height: 1.125em
	// 	z-index: 0
// ===================================
// 	TRUST_SALES END
// ===================================


// ===================================
// 	COMMENTS START
// ===================================
.comments
	h2
		margin-bottom: 30px 

.owl-carousel
	.img-wrap
		width: 150px 
		margin: 15px auto

	.owl-nav 
		> div
			width: 32px
			height: 40px
			position: absolute
			top: 16%
			background: url('../img/slider_arrows.png') no-repeat 50%
			opacity: 1
		.owl-prev
			left: 0
			background-position: 9px 1px
		.owl-next
			right: 0
			background-position: -24px 1px
			
	.owl-dots
		text-align: center
		.owl-dot
			display: inline-block
			margin-left: 5px 
			width: 10px
			height: 10px
			border-radius: 50%  
			background-color: rgba(1,137,255,.3)
			&:hover
				background-color: rgba(1,137,255,.9)
			&.active
				background-color: rgba(1,137,255,.9)

	.owl-item
		.slide
			text-align: center
			padding: 0 100px 
			
			.img-wrap
				opacity: 0
				transform: translate3d(200px, 0, 0)
			h4
				opacity: 0
				transform: translate3d(200px, 0, 0)
			p
				opacity: 0
				transform: translate3d(200px, 0, 0)
			
		&.active
			.slide
				.img-wrap
					opacity: 1
					transform: translate3d(0, 0, 0)
					transition: all .7s ease .2s
				h4
					opacity: 1
					transform: translate3d(0, 0, 0)
					transition: all .7s ease .4s
				p
					opacity: 1
					transform: translate3d(0, 0, 0)
					transition: all .7s ease .7s
// ===================================
// 	COMMENTS END
// ===================================


// ===================================
// 	STEPS START
// ===================================
.steps
	position: relative
	min-height: 100% 
	color: #FFF
	background: #FFF url(../img/meeting.jpg) no-repeat
	background-size: cover
	
	&:before
		content: ""
		display: block
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		z-index: 0
		background-color: rgba(1,137,255,.7)
		

	h2
		margin-bottom: 80px 
		font-weight: 100
		line-height: 1.2 
		font-family:  

	.step
		position: relative
		height: 94px 
	.step-img
		position: absolute
		top: -50px
		left: 0
		background: url(../img/step1.png) no-repeat left bottom
		background-size: 90% 
		display: inline-block
		width: 45px 
		min-height: 45px
		
	.step-2
		.step-img
			background-image: url(../img/step2.png)
	.step-3
		.step-img
			background-image: url(../img/step3.png)
	.step-4
		.step-img
			background-image: url(../img/step4.png)
	.step-5
		.step-img
			background-image: url(../img/step5.png)
	.step-6
		.step-img
			background-image: url(../img/step6.png)
	.step-7
		.step-img
			background-image: url(../img/step7.png)
	
	
	.step-text
		position: relative
		padding-right: 5px 
		&::before
			content: ""
			display: inline-block
			width: 70px
			border-bottom: 1px solid #fff  
			position: absolute
			top: 0
			
	.step-1, .step-3, .step-5, .step-7
		margin-left: 40px 
		.step-text
			&::before
				content: ".01" 
				right: -107px
				
	.step-3
		.step-text
			&::before
				content: ".03"
	.step-5
		.step-text
			&::before
				content: ".05" 
	.step-7
		.step-text
			&::before
				content: ".07" 
				
	.step-2, .step-4, .step-6
		margin-left: 10px 
		.step-text
			&::before
				content: ".02"
				left: -116px
				padding-left: 48px
	.step-4
		.step-text
			&::before
				content: ".04" 
	.step-6
		.step-text
			&::before
				content: ".06" 





	.middle-line
		height: 100%
		width: 2px
		background-color: #FFF
		margin: 0 auto
		position: relative
		&::after               //white circles
			content: ""
			display: inline-block
			position: absolute
			top: 28%
			left: 50%
			transform: translate(-50%,-50%)
			width: 10px
			height: 10px
			background-color: #fff
			border-radius: 50%
			z-index: 20







// ===================================
// 	STEPS END
// ===================================




@import "media"
